/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Menú de navegación fijo en la parte superior */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  padding: 1rem 2rem;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav button:hover {
  background-color: #646cff;
  transform: scale(1.05);
}

nav button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 102, 255, 0.5);
}

/* Contenedor principal de contenido */
#app {
  margin-top: 80px; /* Espacio debajo del menú fijo */
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  background-color: #2a2a2a;
  border-radius: 10px;
}

/* Diseño de las tarjetas de proyectos */
.app-card {
  background-color: #333;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-card:hover {
  transform: translateY(-10px); /* Efecto de elevar la tarjeta */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.app-info h2 {
  font-size: 1.6em;
  margin-bottom: 1rem;
  color: #fff;
}

.app-info p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #bbb;
}

a {
  color: #646cff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

/* Iconos */
.icono {
  width: 60px;
  height: 60px;
  object-fit: contain; /* Para asegurarse de que el contenido del icono se ajuste correctamente */
}

.icono:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

/* Modo Claro */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f1f1f1;
    color: #333;
  }

  #menu {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  nav button {
    background-color: #f0f0f0;
    color: #333;
  }

  nav button:hover {
    background-color: #535bf2;
  }

  #app {
    background-color: #fff;
    color: #333;
  }

  .app-card {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .app-info h2 {
    color: #333;
  }

  .app-info p {
    color: #555;
  }

  a {
    color: #535bf2;
  }

  a:hover {
    color: #333;
  }
}
